<div class="container center-align"><h5>Editing Free Match</h5</div>
<%= render 'form', free_match: @free_match %>
<!--
<%= link_to 'Show', @free_match %> |
<%= link_to 'Back', free_matches_path %>
-->
