<div class="main-content row grey lighten-2">
  <div id="test1" class="col s12 offset-m1 m10 offset-l3 l6">
    <!-- Tap Target Structure -->
    <% if user_signed_in? && current_page?(root_path) %>
    <div class="tap-target" data-target="calci8_button">
      <div class="tap-target-content">
        <h5 class="white-text">Clicca quì</h5>
        <p class="white-text">Bottone Multifunzione</p>
      </div>
    </div>
    <script>

    </script>
    <%end%>
    <div class="container">
      <ul id="" class="collection matches-collection">
        <li class="collection-header center-align"><h4>Header..</h4></li>
        <% if @collection.empty? == false%>
        <% @collection.each do |item| %>
        <%if item.class.name == 'Match'%>
        <%= render partial: "items/match", locals: {match: item}%>
        <%end%>
        <%if item.class.name == 'FreeMatch'%>
        <%= render partial: "items/free_match", locals: {free_match: item}%>
        <%end%>
        <%if item.class.name == 'Team'%>
        <%= render partial: "items/team", locals: {team: item}%>
        <%end%>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
/*
  if(window.google){
    initMap();
  } else{
    $.ajax('https://maps.googleapis.com/maps/api/js?key=AIzaSyDQ-2Mz_gAsm5QNgNq__wzPVhfGIOIifpI&callback=initMap', {
      crossDomain: true,
      dataType: 'script'
    });
  }*/





</script>
